* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background: floralwhite;
  color: darkslategray;
}

/* header */
.main-header {
  color: #f5e482;
  height: 100px;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#636363, #a2ab58);
  padding: 15px 0 165px;
  border-radius: 5px;
  margin-top: -5px;
  text-transform: uppercase;
  border-bottom: 1px solid #f5e482;
}
.main-quote {
  font-size: 10px;
  letter-spacing: 1px;
}
.main-task-counter {
  padding-top: 15px;
  border-top: 1px solid #f5e482;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 20px;
}
.single-task-counter {
  font-size: 10px;
  letter-spacing: 0.8px;
  padding-top: 5px;
  font-weight: 200;
}
.single-task-number {
  padding-top: 5px;
  font-size: 26px;
  font-weight: 200;
}
/* app */

.app-date {
  padding-top: 10px;
}
/* tasks */
.app-todos-container {
  margin-top: 30px;
  list-style: none;
}

.app-task-container {
  width: 100vw;
  height: 45px;
  margin-top: 10px;
  line-height: 45px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background: rgba(150, 150, 150, 0.1);
  cursor: pointer;
}
.app-btn-action {
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  background: none;
}
.app-btn-action:first-of-type {
  padding-right: 20px;
}
.app-task,
.app-task-completed {
  width: 80%;
  display: flex;
  align-items: flex-start;
  padding-left: 30px;
  line-height: 45px;
  font-size: 16px;
  letter-spacing: 1px;
}
.app-task-completed {
  color: gray;
  text-decoration: line-through;
}

/* editing created task */

.app-task-edit {
  width: 100vw;
  height: 45px;
  margin-top: 10px;
  line-height: 45px;
  background: rgba(150, 150, 150, 0.1);
  display: flex;
}

.app-task-edit-input {
  width: 70%;
  background: #d4cfc3;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  letter-spacing: 1px;
}

.app-task-edit-button {
  width: 30%;
  background: none;
  cursor: pointer;
  border: none;
  font-size: 20px;
}

/* creating task */
.app-form {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  bottom: 30px;
  left: 0;
  margin-top: 50vh;
}
.app-form-input {
  font-size: 18px;
  padding: 10px 5px;
  border-radius: 10px;
  border: solid 1px gray;
  outline: none;
  background: #d4cfc3;
}

.app-form-input::placeholder {
  padding-left: 5px;
}

.app-form-button {
  background: linear-gradient(#636363, #a2ab58);
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  color: white;
  outline: none;
}

@media screen and (max-width: 360px) {
}
