* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  text-align: center;
}

/* mobile styles */

@media screen and (max-width: 320px) {
  /* header */
  .main-header {
    color: #f5e482;
    height: 100px;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(#8a2387, #e94057, #f27121);
    padding: 30px 0 150px;
    border-radius: 5px;
    margin-top: -5px;
    text-transform: uppercase;
    border-bottom: 1px solid #f5e482;
  }
  .main-quote {
    font-size: 10px;
    letter-spacing: 1px;
  }
  /* app */

  .app-date {
    padding-top: 30px;
  }
  /* tasks */
  .app-todos-container {
    margin-top: 50px;
    list-style: none;
  }

  .app-task,
  .app-task-completed {
    padding: 10px 40px;
    height: 45px;
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(150, 150, 150, 0.1);
  }
  .app-task-completed {
    color: gray;
  }
  /* creating task */
  .app-form {
    position: fixed;
    bottom: 30px;
    left: 0;
    display: flex;
    margin-top: 50vh;
  }
}
